<launch>
    <!-- Launch the USB camera -->
    <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen">
        <rosparam file="../config/camera_front.yaml" command="load" />
    </node>

    <!-- Launch the joystick node -->
    <node pkg="joy" type="joy_node" name="joy_node">
        <rosparam file="../config/joystick.yaml" command="load" />
    </node>

    <!-- Custom CARLA Control Node -->
    <node name="carla_control" pkg="your_custom_package" type="carla_control_node.py" output="screen">
        <param name="host" value="127.0.0.1" />
        <param name="port" value="2000" />
        <param name="role_name" value="ego_vehicle" />
    </node>

    <!-- Velocity multiplexer -->
    <arg name="nodelet_manager_name" value="nodelet_manager" />
    <arg name="config_file" value="/home/linden/Desktop/ViNT/visualnav-transformer/deployment/config/cmd_vel_mux.yaml"/>

    <!-- Nodelet manager -->
    <node pkg="nodelet" type="nodelet" name="$(arg nodelet_manager_name)" args="manager" />

    <!-- Velocity multiplexer -->
    <include file="$(find yocs_cmd_vel_mux)/launch/cmd_vel_mux.launch">
        <arg name="nodelet_manager_name" value="$(arg nodelet_manager_name)" />
        <arg name="config_file" value="$(arg config_file)" />
    </include>
</launch>







